pre > code {
    font-size: 1rem;
    overflow-wrap: break-word;
}

.dsjsx_example {
    border: 1px solid #b3b3b3;
    padding: 1rem;
}

code:not([class*=language-]) {
    color: #d32205;
    font-family: monospace;
}
